@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400&family=Noto+Sans+KR:wght@400&display=swap');

body {
  font-family: 'Inter', 'Noto Sans KR', sans-serif;
  font-size: 16px;
  line-height: 1.4;
  color: #263747;
}

.pagination_active {
  color : '#fff';
  background-color : '#0078FF';
  border : '';
}
